<h2> <%= @team.team_name %></h2>
<% if @team.captain %>
  <h3>Captain: <%= link_to @team.captain.full_name, student_path(@team.captain) %> </h3>
<% end %>
<h3>Teacher: <%= @team.teacher.full_name %></h3>
<% @team.students.each do |student| %>
<p><h3><%= link_to(student.full_name, student) %></h3></p>
<% end %>
<% if (@team.students.count < Team.max_students) && (current_teacher.team == @team) %>
  <br><%= link_to '+ student', students_path %>
<% end %>

<table class="tables">
  <thead>
    <tr>
      <th>Header Cell 1</th>
      <th>Header Cell 2</th>
      <th>Header Cell 3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Row 1 Cell 1</td>
      <td>Row 1 Cell 2</td>
      <td><button>Confirm</button><button>Reject</button></td>
    </tr>
    <tr>
      <td>Row 2 Cell 1</td>
      <td>Row 2 Cell 2</td>
      <td><button>Confirm</button><button>Reject</button></td>
    </tr>
    <tr>
      <td>Row 3 Cell 1</td>
      <td>Row 3 Cell 2</td>
      <td><button>Confirm</button><button>Reject</button></td>
    </tr>
    <tr>
      <td>Row 4 Cell 1</td>
      <td>Row 4 Cell 2</td>
      <td><button>Confirm</button><button>Reject</button></td>
    </tr>
  </tbody>
</table>
