<h2> <%= @team.team_name %></h2>
<% if @team.captain %>
  <h3>Captain: <%= @team.captain.full_name %> </h3>
<% end %>
<h3>Teacher: <%= @team.teacher.full_name %></h3>
<% @team.students.each do |student| %>
<p><h3><%= link_to(student.full_name, student) %></h3></p>
<% end %>
<% if (@team.students.count < Team.max_students) && (current_teacher.team == @team) %>
  <br><%= link_to '+ student', students_path %>
<% end %>
