<div class="login-form">
  <h3>Continue your legend.......here</h3>
  <div class="error-container">
    <%= render 'partials/errors', layout: false %>
  </div>
  <%= form_tag '/login', remote: true do %>
 <p>
   Email: <%= email_field_tag :email %>
 </p>
 <p>
   Password: <%= password_field_tag :password %>
 </p>
   <%= submit_tag "Login" %>
   <% end %>
</div>

<br>


<p>Don't have an account?</p>
<button><%= link_to 'Sign Up Here', new_teacher_path %></button>

