<div id="admin-control">
  <h3>Admin Control</h3>
</div>

<div class="flex-boxes">
  <div class="flex-box">
    <img src="http://www.freeiconspng.com/uploads/school-student-icon-16.png" alt="">
    <h1 class="flex-title">View Student Roster:
    </h1>
    <div class="clear-flex-box"><%= link_to 'Students', admin_students_path  %></div>
  </div>
  <div class="flex-box flex-box-big">
    <img src="https://cdn0.iconfinder.com/data/icons/education-15/500/teacher-512.png" alt="">
    <h1 class="flex-title">Teachers:</h1>
    <div>  <% Teacher.all.each do |teacher| %>
      <span id="teacher-<%=teacher.id%>"><%= teacher.first_name %> <%= teacher.last_name %> (admin)</span>
        <% if teacher.admin? == true %>
          <%= link_to "Remove Admin", teacher_path(teacher), method: :patch , remote: true%>
        <% else %>
          <%= link_to "Add Admin", teacher_path(teacher), method: :patch, remote: true %>
        <% end %>
        <br>
      <% end %>
    </div>
  </div>
  <a href="javascript:void(0)" class="flex-box">
    <img src="https://openclipart.org/image/2400px/svg_to_png/68545/lock2.png" alt="">
    <h1 class="flex-title">Change Access Code:</h1>
    <div>
      <%= form_for(AccessCode.first, remote: true) do |f| %>
    <%= f.text_field :code, value: '' %>
    <%= f.submit %>
      <% end %>
    </div>
  </a>
  <div class="flex-box">
    <img src="http://downloadicons.net/sites/default/files/upload-icon-72713.png" alt="">
    <h1 class="flex-title">Upload students database:</h1>
      <div class="csv-upload">
        <%= form_tag({action: :upload, controller: 'students'}, multipart: true) do %>
        <%= file_field_tag 'csv' %>
        <div id='upload-button'><%= submit_tag 'Upload' %></div>
        <% end %>
      </div>
  </div>
</div>




