<div class="student-form">
  <h3>Recruit your legendaries.....here</h3>
  <%= form_for(@student) do |f| %>
    <p>
     <%= f.label :first_name %>
     <%= f.text_field :first_name %>
    </p>
    <p>
     <%= f.label :last_name %>
     <%= f.text_field :last_name %>
    </p>
    <p>
     <%= f.label :gender %>
     <%= f.text_field :gender %>
    </p>
    <p>
     <%= f.label :gpa %>
     <%= f.text_field :gpa %>
    </p>
    <p>
     <%= f.label :number_of_detentions %>
     <%= f.text_field :number_of_detentions %>
    </p>
    <p>
     <%= f.label :sports_teams %>
     <%= f.text_field :sports_teams, multiple: true %>
    </p>
    <p>
     <%= f.label :number_of_absences %>
     <%= f.text_field :number_of_absences %>
    </p>

    <%= f.hidden_field :team_id, value: @student.team_id %>
    <%= f.hidden_field :options, value: 'update_data' %>
   <%= f.submit "Update Student" %>
 <% end %>
</div>
