<div class="cards">
  <div class="card">
    <div class="card-image">
      <%= image_tag("wolf.jpeg", :alt => "rss feed") %>
    </div>

    <div class="card-header">
      <h1 class="title"><%= @student.full_name %></h1>
    </div>

<% if @student.team_id !=nil %>
  <h3 id="team">Team <br> <%= link_to @student.team.team_name, team_path(@student.team) %></h3><hr>
      <!-- Stats -->
    <div class="card-copy">
      <h2>Statistics</h2>
        <div class="stats">
          <ul>
          <li class="stats"><%= @student.gpa %><span>GPA</span> </li>
          <li class="stats"> <%= @student.gender %><span>Gender</span></li>
          <li class="stats"> <%= @student.number_of_detentions %><span>Detentions</span></li>
          <li class="stats"><%= @student.number_of_absences %><span>Absences</span></li>
        </ul>
      </div>
    </div><!-- close stats -->
    <br>
    <hr>
    <!-- Current sports teams -->
    <h2 class="stats">Current teams</h3>
    <% if !@student.sports_teams.empty? %>
      <ul>
        <% @student.sports_teams.each do |team| %>
          <li><%= team %></li>
        <% end %>
      </ul>
    <% else %>
      <p id="no-teams"><%= @student.first_name %> is not currently on  any sports teams.</p>
    <% end %>
  </div>
</div><!-- Close card -->


<!-- forms -->

  <% if @student.team == current_teacher.team && @student.team.captain != @student %>
    <%= form_for(@student.team) do |f| %>
      <%= f.hidden_field :captain_id, value: @student.id %>
      <%= f.submit "Make Team Captain" %>
    <% end %>
  <% end %>
<% elsif current_teacher.team.students.count < Team.max_students %>
  <%= form_for(@student) do |f| %>
    <%= f.hidden_field :team_id, value: current_teacher.team.id %>
    <%= f.hidden_field :options, value: 'add_to_team' %>
    <%= f.submit "Add to Team" %>
  <% end %>
<% end %>

<br>

<!-- Admin Controls -->

<% if current_teacher.admin? == true %>
  <%= link_to "Edit", edit_student_path(@student) %>
  <%= link_to "Delete Student", student_path(@student) , method: :delete, data: { confirm: "Are you sure?" } %>
  <% if @student.team_id != nil %>
    <%= form_for(@student) do |f| %>
      <%= f.hidden_field :team_id, value: @student.team_id %>
      <%= f.hidden_field :options, value: 'remove_from_team' %>
      <%= f.submit "Remove From Team" %>
    <% end %>
  <% end %>
<% end %>
