<div id="admin-control">
  <h3>Admin Control</h3>
</div>

<div class="flex-boxes">
  <div class="flex-box">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png" alt="">
    <h1 class="flex-title">View Student Roster:
    </h1>
    <div class="clear-flex-box"><%= link_to 'Students', teachers_path  %></div>
  </div>
  <div class="flex-box flex-box-big">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png" alt="">
    <h1 class="flex-title">Teachers:</h1>
    <div>  <% Teacher.all.each do |teacher| %>
      <%= teacher.first_name %> <%= teacher.last_name %>
        <% if teacher.admin? == true %>
          (admin)
          <%= link_to "Remove Admin", edit_teacher_path(teacher) %>
        <% else %>
          <%= link_to "Add Admin", edit_teacher_path(teacher) %>
        <% end %>
        <br>
      <% end %>
    </div>
  </div>
  <a href="javascript:void(0)" class="flex-box">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png" alt="">
    <h1 class="flex-title">Change Access Code:</h1>
    <div>
      <%= form_for AccessCode.first do |f| %>
        <%= f.text_field :code, value: '' %>
        <%= f.submit %>
      <% end %>
    </div>
  </a>
  <div class="flex-box">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png" alt="">
    <h1 class="flex-title">Upload students database:</h1>
      <div class="csv-upload">
        <%= form_tag({action: :upload, controller: 'students'}, multipart: true) do %>
        <%= file_field_tag 'csv' %>
      </div>
        <%= submit_tag 'Upload' %>
        <% end %>
  </div>
</div>




