<div class="admin-control">
  <h3>Admin Control</h3>

  <%= link_to 'Students', students_path %><br>


  <h4>Teachers:</h4>
  <% Teacher.all.each do |teacher| %>
    <%= teacher.first_name %> <%= teacher.last_name %>
      <% if teacher.admin? == true %>
        (admin)
        <%= link_to "Remove Admin", edit_teacher_path(teacher) %>
      <% else %>
        <%= link_to "Add Admin", edit_teacher_path(teacher) %>
      <% end %>
      <br>
  <% end %>


</div>



