<div class="admin-control">
  <h3>Admin Control</h3>
  
  <h4>View Student Roster:</h4>
  <%= link_to 'Students', teachers_path  %><br>

  <h4>Teachers:</h4>
  <% Teacher.all.each do |teacher| %>
      <span id="teacher-<%=teacher.id%>"><%= teacher.first_name %> <%= teacher.last_name %> (admin)</span>
    <% if teacher != current_teacher %>
        <% if teacher.admin? == true %>
          <%= link_to "Remove Admin", teacher_path(teacher), remote: true, method: 'patch' %>
        <% else %>
          <%= link_to "Add Admin", teacher_path(teacher), remote: true, method: 'patch' %>
        <% end %>
    <% end %>
      <br>
  <% end %>
  <h4 class="access-code">Change Access Code:</h4>
  <%= form_for(AccessCode.first, remote: true) do |f| %>
    <%= f.text_field :code, value: '' %>
    <%= f.submit %>
  <% end %>
  <h4 class="csv-upload">
    <%= form_tag({action: :upload, controller: 'students'}, multipart: true) do %>
    <%= file_field_tag 'csv' %>
    <%= submit_tag 'Upload' %>
    <% end %>
  </h4>

</div>



