<% if logged_in? %> 
 <button type="button" class="js-menu-trigger sliding-panel-button"> Menu </button>
  Welcome, <%= current_teacher.full_name %>
  <nav class="js-menu sliding-panel-content">

    <ul>
      <li><h3 id="nav-header">Navigation</h3></li><hr>
      <li><%= link_to 'Yet to be Legendary Students', students_path %></li>
      <li><%= link_to 'All Teams', teams_path %></li>
      <li><%= link_to 'My Team', team_path(current_teacher.team) %></li>
      <% if current_teacher.admin? %>
        <li><%= link_to 'Admin', '/admin' %></li>
      <% end %>
      <li><%= link_to 'Log Out', logout_path, method: :delete %></li>
    </ul>
  </nav>
<% end %>

<div class="js-menu-screen sliding-panel-fade-screen"></div>




