<!DOCTYPE html>
<html>
<head>
  <title>Imlegend</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to 'Home', root_path %>
  <% if !logged_in? %>
    <%= link_to 'New Legend', new_teacher_path %>
  <% else %>
    <% if current_teacher.admin? %>
      <%= link_to 'Admin', teachers_path %>
    <% end %>
    <%= link_to 'Log Out', logout_path, method: :delete %>
  <% end %>

<%= yield %>

</body>
</html>
